

/* Color schemes */

/* Common styles for the menus */
.menu {

	z-index: 10;
}

.menu__item {
	line-height: 1;

	display: block;
	margin: 1em 0;
	outline: none;
}

.menu__item-name,
.menu__item-label {

	display: inline-block;
}

.menu__item-name {
	font-size: 1.25em;
}

.menu__item-label {
	margin: 0 0 0 0.5em;
}
