
.loader {
    font: "Montserrat", sans-serif;
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 15em;
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #747474;
    animation: loading 8s linear;
    top: 10vmax;
    left: 25vmax;
    
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}